html,
body {
    height: calc(100% + var(--footer-height));
    background-color: rgb(249, 212, 7);
    color: black;
    margin: 0;
    padding: 0;
}

.footer {

    margin-top: auto;
    color: #f5f5f5;
    background-color: black;
    padding: 20px;
    text-align: center;
    --footer-height: 65px;
    height: var(--footer-height);

}