.a {
  font-size: small;
}

.App {
  text-align: center;
  height: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
}

.App-body {
  margin-top: 0px;
  background-color: #282c34;
  background-image: url("../images/tech.jpg");
  background-position: center;
  background-size: cover;
  font-size: calc(10px + 2vmin);
  height: 1200px !important;
  width: 100%;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}



.row {
  display: flex;
}

.cap {
  margin-top: 10px;
  color: white;
}

.carousel {
  margin-top: 80px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {

  color: white;
  background-color: rgb(56, 55, 55) !important;
  padding: 20px;
  text-align: center;
  --footer-height: 65px;
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  width: 100%;

}

.carousel-image {
  width: 900px;

  height: auto;

  object-fit: contain;
}

.column {
  flex: 50%;
  height: 150px;
}

.jumbotron {
  background-image: url("../images/code.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 350px;
}

.navbar {
  width: 100% !important;
  margin: 0px auto;
  left: 0;
  right: 0;
  padding: 0px !important;
  font-size: 80%;
  margin: 0px !important;
  height: 80px;
}

.navbar-brand {
  font-size: larger;
  margin-left: 10px;
}

.nav-item {
  font-size: medium;
}

.project-description {
  max-height: 150px;
  /* Limit the height of the description */
  margin-bottom: 25px;
  font-size: 50%;
  /* Add a scroll bar if the description exceeds the height */
}

.carousel .cap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  position: static;
  bottom: 0;
  font-size: 3rem;
  width: 100%;
}

.pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-pic {
  margin-top: 5%;
}



.project-title {
  margin-top: 70px;
  margin-bottom: 60px;
  color: white;
}

.rick-btn {
  margin-top: -2.5%;
}

.srcPic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.subtitle {
  margin-top: 10%;
  color: white;
}

.title {
  padding-top: 30px;
  color: white;
}