html,
body {
    height: calc(100% + var(--footer-height));

    color: black;
    margin: 0;
    padding: 0;
}

.accBod {
    overflow-y: auto;
    max-height: 250px;
    ;
}

.accHead {
    height: 75px;


}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.accordion-container {
    margin-top: 100px !important;
    width: 70%;

    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}



body {
    margin: 0;
    padding: 0;
    margin-right: 0 !important;

    background-color: rgb(249, 212, 7);

}

.self {
    border-radius: 50%;

}

.card {
    margin-top: 25px;
    color: white;
    background-color: rgb(42, 42, 42);
    height: 225px;
    text-align: left;
    font-size: .825rem;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.container {
    margin: 0 !important;
    padding-bottom: calc(100vh - var(--footer-height));

}

.accordion {

    padding: 0;

    text-align: left;
    font-size: 1rem;
    overflow-y: auto;
}

.cards {

    margin-top: 25px;
    margin-bottom: 25px;
    overflow-y: auto;
}

.col {
    height: 950px;
}



#column1 {
    background-color: rgb(42, 42, 42);
    margin-left: 0 !important;
    flex: 1;
    color: white;

}

#column2 {
    background-color: #fac404;
    width: 90% !important;

    margin-right: -25%;
    flex: 2;

}


.footer {

    margin-top: auto;
    color: #f5f5f5;
    background-color: black;
    padding: 20px;
    text-align: center;
    --footer-height: 65px;
    height: var(--footer-height);

}