.App-header {
    color: black;
    background-color: rgb(249, 212, 7);
}

.App {
    background-color: rgb(249, 212, 7);
    height: 950px;

}

.accordion-container {
    margin-top: 75px !important;
}

body {
    margin: 0;
    padding: 0;
    margin-right: 0 !important;

    background-color: rgb(249, 212, 7);

}

.self {
    border-radius: 50%;
}

.card {
    color: white;
    background-color: rgb(42, 42, 42);
    height: 225px;
    text-align: left;
    font-size: .825rem;
}

.container {
    margin: 0 !important;
}

.accordion {

    padding: 0;
    color: white;
    margin-left: 125px;
    text-align: left;
}

.cards {
    margin-left: 125px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.col {
    height: 950px;
}



#column1 {
    background-color: rgb(42, 42, 42);
    margin-left: 0 !important;
    flex: 1;
    color: white;

}

#column2 {
    background-color: rgb(249, 212, 7);
    width: 80% !important;
    margin: 0% !important;
    flex: 2;

}


footer {
    color: white;
    background-color: rgb(42, 42, 42);

    height: 50px;
    padding-top: 15px;
}